/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
.board {
  background-color: grey;
}

.player {
  /*-webkit-transform: rotate(180deg);*/
    animation: spin 4000ms infinite linear;
    transform-origin: 50% 50% 0;
}

.enemy {
    animation: spin 1000ms infinite linear;
    transform-origin: 50% 50% 0;
}

@keyframes spin{
  from{ transfrom: rotate(0deg);}
  to{ transform: rotate(360deg);}
};

